@import '../../styles/implement.styl';

$input-height = 42px;
$input-text-color = #777777;
$input-label-text-color = #333333;
$input-underline-width = 1px;
$input-underline-color = rgb(238,238,238);

.Container {
  height: $input-height;

  border-bottom-width: $input-underline-width;
  border-bottom-color: $input-underline-color;
}

.Input {
  @extend .medium, .text16;

  flex-grow: 1;
  color: $input-text-color;
}

.InputLabel {
  @extend .medium, .text14;
  color: $input-label-text-color;
}
