for num in (7..48) {
  .text{num} {
    font-size: unit(num, 'px');
    line-height: unit(ceil(num * 1.3), 'px');
    letter-spacing: unit(-(ceil(num * 2)/100), 'px')
  }
}

.text-align-center {
  text-align: center;
}

.numeric {
  letter-spacing: .5px;
}

.thin {
  font-family: "NotoSansKR-Light";
}

.light {
  font-family: "NotoSansKR-DemiLight";
}

.regular {
  font-family: "NotoSansKR-Regular";
}

.medium {
  font-family: "NotoSansKR-Medium";
}

.bold {
  font-family: "NotoSansKR-Bold";
}
