@import 'styles/implement.styl';

badge-component(name='', tingColor=#9b9b9b) {
  &Badge{name} {
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    margin: 0 3px 3px 0;
    border-radius: 12px;
    background-color: alpha(tingColor, .1);

    &Text {
      @extend .text12, .medium;
      color: tingColor;
    }
  }
}

//
.ItemRow {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: white;

  &Separator {
    height: 1px;
    background-color: #eeeeee;
  }

  &Image {
    width: 44px;
    height: 44px;
    border-radius: (@width / 2);
    background-color: #F2F2F2;
  }

  &Title {
    margin: 0 10px 1px 0;

    &Text {
      @extend .text15, .medium;
      color: #000000;
    }
  }

  &Company {
    &Text {
      @extend .text11, .medium, .caption;
    }
  }

  &Ratio {
    align-items: flex-end;
    //align-self: flex-start;

    &Text {
      @extend .text15, .medium;
    }
  }

  &Badge {
    align-items: center;
    justify-content: center;
    padding: 2px 7px;
    margin: 0 3px 3px 0;
    border-radius: 7px;
    background-color: #ccc8c9;

    &Text {
      @extend .text12, .medium;
      color: white;
    }
  }
}
